{% for result in results %}
    <li><img src="{{ result.getStreetViewPath() }}" /></li>
    <li>{{ result.getName() }}</li>
    <li>{{ result.getVicinity() }}</li>
    <li>{{ result.getRating() }}</li>
    <li>{{ result.getGoogleLocation().getDistance() }}m</li><br/><br/>

{% endfor %}