{% for result in results %}
    <ul class="list-group">
        <li class="list-group-item"><img src="{{ result.getStreetViewPath() }}"/></li>
        <li class="list-group-item">{{ result.getName() }}, {{ result.getVicinity() }}</li>
        <li class="list-group-item">Rating: {{ result.getRatingText() }}</li>
        <li class="list-group-item">Distance: {{ result.getGoogleLocation().getDistance() }}m</li>
    </ul>
{% endfor %}